<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>WeJam</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
</head>
<body>
  <section id="content">
    


  </section>
 

  <script src="/assets/accountSettingsBundle.js"></script>
</body>
</html>