<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>WeJam</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/app-style.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <!--Navigation Bar-->
  <div id="nav">
  </div>

  <!--Searchbar-->
  <div class="box has-background-black">
      <div class="content" style="width: 40%" id="searchBar">

      </div>
  </div>

  <!--Music card 
  <div class="card has-background-warning" style="width: 30%;">
    <header class="card-header has-background-warning">
      <p class="song-title card-header-title has-background-warning is-size-4" id="song-title">
        Song Title
      </p>
      <button class="card-header-icon" aria-label="more options" id="showMoreBtn">
        <span class="icon has-background-warning">
          <i class="fa fa-angle-down has-background-warning has-text-black" aria-hidden="true"></i>
        </span>
      </button>
      <button class="card-header-icon" aria-label="add to playlist">
        <span class="icon has-background-warning">
          <i class="fa fa-plus has-background-warning has-text-black" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    <div class="card-content" id="music-data">
      <div class="columns has-background-warning">
        <div class="column has-background-warning">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/img/homeimg.png" id="song-imageURL" class="song-imageURL has-background-warning" alt="Song image">
            </figure>
          </div>
        </div>

        <div class="column has-background-warning">
          <div class="content has-background-warning is-size-5 has-text-black">
            <h4 class="song-title has-background-warning">Title:</h4> 
            <h4 class="song-artist has-background-warning">Artist:</h4> 
          </div>
        </div>
      </div>
      
    </div>
  </div>
-->
  <!--Add Playlist Form--> 
  <section id="makePlaylist">
   
  </section>
  <!--Playlists-->
  <section id="playlists" style="width: 50%">

  </section>

  <!--Add Songs Form-->
  <section id="addSong">

  </section>
  
  <!--Songs-->
  <section id="songs">

  </section>


  <!--Add Song To Playlist Form-->
  <section id="findSong">

  </section>

  <!--API Search Form-->
  <section id="searchSong">

  </section>
  <section id="results">
    Search Results: 
    
  </section>


   

 <!--Playlists Cards-->
  <section id="playlist-card">

  </section>
  <section id="playlist-error">
    
  </section>
  
  <script src="/assets/appBundle.js"></script>
</body>
</html>
