*{
    background-color: black;
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
